<!--
  Generated template for the Products page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="main-header">

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon><img src="./assets/img/icon/menu.png"></ion-icon> &nbsp;&nbsp;Menu
    </button>
      <button ion-button clear medium icon-only [navPush]="previewPage">
        <ion-icon><img src="./assets/img/icon/photo-camera.png"></ion-icon>
      </button>
    <ion-title text-center>Product Line</ion-title>
      <div class="toolbar-circle">
         <img class="toolbar-circle-img" src="./assets/img/icon/product.png">  
      </div>
  </ion-navbar>

</ion-header>


<ion-content>
    <div>
      <ion-segment [(ngModel)]="products">
        <ion-segment-button *ngFor="let line of paints" value="{{line.title}}">
          {{line.title}}
        </ion-segment-button>
      </ion-segment>
        <div [ngSwitch]="products">
           <ng-container *ngFor="let lines of paints">
               <div *ngSwitchCase=lines.title>
                   <div class="scroll">
                        <ion-list>
                           <div *ngFor="let brand of lines.paints">
                            <ion-item text-center>
                                <ion-thumbnail item-start>
                                    <img src="./assets/img/paint/{{lines.title}}/{{brand.img}}">
                                </ion-thumbnail>
                                <h2>{{brand.name}}</h2>
                                <p>{{brand.description}}</p>
                                <button (click)="showDetails(brand, lines.title)">More</button>
                            </ion-item> 
                           </div>
                       </ion-list>
                   </div>
               </div> 
            </ng-container>
        </div>
    </div> 
</ion-content>
